<nav class="navbar navbar-expand-lg navbar-light nav-bg shadow-sm sticky-top">
  <div class="container">

    <!-- Logo -->
    <a class="navbar-brand" href="https://www.noahcareercoachingapp.com/">
      <img
        src="https://www.noahcareercoachingapp.com/images/nav-logo.png"
        height="40"
        alt="Noah Career Coaching Logo"
      >
    </a>

    <!-- Toggler for mobile -->
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navMenu"
      aria-controls="navMenu"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Navbar Links -->
    <div class="collapse navbar-collapse justify-content-center" id="navMenu">
      <ul class="navbar-nav mx-auto text-center">

        <!-- Home -->
        <li class="nav-item">
          <a class="nav-link navfont blackText" href="https://www.noahcareercoachingapp.com/">HOME</a>
        </li>

        <!-- About Dropdown -->
        <li class="nav-item dropdown position-static">
          <a
            class="nav-link dropdown-toggle navfont blackText"
            href="#"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            ABOUT
          </a>
          <div class="dropdown-menu w-100 p-4 text-center">
            <div class="container">
              <div class="row">
                <div class="col-md-6">
                  <a class="dropdown-item" href="https://www.noahcareercoachingapp.com/about.html">Mission Statement</a>
                </div>
                <div class="col-md-6">
                  <a class="dropdown-item" href="https://www.noahcareercoachingapp.com/about.html">About Our Founder</a>
                </div>
                <div class="col-md-6">
                  <a class="dropdown-item" href="https://www.noahcareercoachingapp.com/about.html">How To Join</a>
                </div>
                <div class="col-md-6">
                  <a class="dropdown-item" href="https://www.noahcareercoachingapp.com/donation.html">Donation</a>
                </div>
              </div>
            </div>
          </div>
        </li>

        <!-- Services Dropdown -->
        <li class="nav-item dropdown position-static">
          <a
            class="nav-link dropdown-toggle navfont blackText"
            href="#"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            SERVICES
          </a>
          <div class="dropdown-menu w-100 p-4 text-center">
            <div class="container">
              <div class="row">
                <div class="col-md-4">
                  <a class="dropdown-item" href="https://www.noahcareercoachingapp.com/services/resume.html">Resume Development</a>
                </div>
                <div class="col-md-4">
                  <a class="dropdown-item" href="https://www.noahcareercoachingapp.com/services/interview.html">Interview Coaching</a>
                </div>
                <div class="col-md-4">
                  <a class="dropdown-item" href="https://www.noahcareercoachingapp.com/services/jobSearch.html">Job Search Strategy</a>
                </div>
                <div class="col-md-4">
                  <a class="dropdown-item" href="https://www.noahcareercoachingapp.com/services/professionalDev.html">Professional Development</a>
                </div>
                <div class="col-md-4">
                  <a class="dropdown-item" href="https://www.noahcareercoachingapp.com/services/internshipPath.html">Internship Pathways</a>
                </div>
                <div class="col-md-4">
                  <a class="dropdown-item" href="https://www.noahcareercoachingapp.com/services/volunteer.html">Volunteer Opportunities</a>
                </div>
              </div>
            </div>
          </div>
        </li>

        <!-- Resources Dropdown -->
        <li class="nav-item dropdown position-static">
          <a
            class="nav-link dropdown-toggle navfont blackText"
            href="#"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            RESOURCES
          </a>
          <div class="dropdown-menu w-100 p-4 text-center">
            <div class="container">
              <div class="row">
                <div class="col-md-4">
                  <a class="dropdown-item" href="https://www.noahcareercoachingapp.com/resources/explore.html">Explore Careers</a>
                </div>
                <div class="col-md-4">
                  <a class="dropdown-item" href="https://www.noahcareercoachingapp.com/resources/assessments.html">Career Assessments</a>
                </div>
                <div class="col-md-4">
                  <a class="dropdown-item" href="https://www.noahcareercoachingapp.com/resources/stories.html">Career Change Stories</a>
                </div>
                <div class="col-md-4">
                  <a class="dropdown-item" href="https://www.noahcareercoachingapp.com/resources/equalE.html">Equal Employer Information</a>
                </div>
                <div class="col-md-4">
                  <a class="dropdown-item" href="https://www.noahcareercoachingapp.com/resources/youth.html">Youth Information</a>
                </div>
                <div class="col-md-4">
                  <a class="dropdown-item" href="https://www.noahcareercoachingapp.com/resources/state.html">Resources By State</a>
                </div>
              </div>
            </div>
          </div>
        </li>

        <!-- Get Involved -->
        <li class="nav-item">
          <a class="nav-link navfont blackText" href="https://www.noahcareercoachingapp.com/src/contact.html">GET INVOLVED</a>
        </li>

      </ul>

      <!-- CTA Buttons -->
      <div class="d-flex gap-2">
        <a href="https://www.noahcareercoachingapp.com/src/contact.html" class="btn btn-warning navfont">
          GET FREE COACHING
        </a>
        <a href="https://www.noahcareercoachingapp.com/donation.html" class="btn btn-warning navfont">
          DONATE
        </a>
      </div>

    </div>
  </div>
</nav>
