<nav class="navbar navbar-expand-lg navbar-light nav-bg shadow-sm">
  <div class="container">

    <a class="navbar-brand" href="/NoahCareerCoaching/index.html">
      <img src="/NoahCareerCoaching/images/nav-logo.png" height="40" alt="Logo">
    </a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navMenu">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse justify-content-center" id="navMenu">
      <ul class="navbar-nav mx-auto text-center">

        <li class="nav-item">
          <a class="nav-link navfont blackText" href="/NoahCareerCoaching/index.html">HOME</a>
        </li>

        <!-- ABOUT -->
        <li class="nav-item dropdown position-static">
          <a class="nav-link dropdown-toggle navfont blackText" href="#" data-bs-toggle="dropdown">
            ABOUT
          </a>
          <div class="dropdown-menu w-100 p-4 text-center">
            <div class="container">
              <a class="dropdown-item" href="/NoahCareerCoaching/about.html">Mission Statement</a>
              <a class="dropdown-item" href="/NoahCareerCoaching/about.html">About Our Founder</a>
              <a class="dropdown-item" href="/NoahCareerCoaching/about.html">How To Join</a>
              <a class="dropdown-item" href="/NoahCareerCoaching/donation.html">Donation</a>
            </div>
          </div>
        </li>

        <!-- SERVICES -->
        <li class="nav-item dropdown position-static">
          <a class="nav-link dropdown-toggle navfont blackText" href="#" data-bs-toggle="dropdown">
            SERVICES
          </a>
          <div class="dropdown-menu w-100 p-4 text-center">
            <div class="container">
              <a class="dropdown-item" href="/NoahCareerCoaching/services/resume.html">Resume Development</a>
              <a class="dropdown-item" href="/NoahCareerCoaching/services/interview.html">Interview Coaching</a>
              <a class="dropdown-item" href="/NoahCareerCoaching/services/jobSearch.html">Job Search Strategy</a>
              <a class="dropdown-item" href="/NoahCareerCoaching/services/professionalDev.html">Professional Development</a>
              <a class="dropdown-item" href="/NoahCareerCoaching/services/internshipPath.html">Internship Pathways</a>
              <a class="dropdown-item" href="/NoahCareerCoaching/services/volunteer.html">Volunteer Opportunities</a>
            </div>
          </div>
        </li>

        <!-- RESOURCES -->
        <li class="nav-item dropdown position-static">
          <a class="nav-link dropdown-toggle navfont blackText" href="#" data-bs-toggle="dropdown">
            RESOURCES
          </a>
          <div class="dropdown-menu w-100 p-4 text-center">
            <div class="container">
              <a class="dropdown-item" href="/NoahCareerCoaching/resources/explore.html">Explore Careers</a>
              <a class="dropdown-item" href="/NoahCareerCoaching/resources/assessments.html">Career Assessments</a>
              <a class="dropdown-item" href="/NoahCareerCoaching/resources/stories.html">Career Change Stories</a>
              <a class="dropdown-item" href="/NoahCareerCoaching/resources/equalE.html">Equal Employer Information</a>
              <a class="dropdown-item" href="/NoahCareerCoaching/resources/youth.html">Youth Information</a>
              <a class="dropdown-item" href="/NoahCareerCoaching/resources/state.html">Resources By State</a>
            </div>
          </div>
        </li>

        <li class="nav-item">
          <a class="nav-link navfont blackText" href="/NoahCareerCoaching/src/contact.html">GET INVOLVED</a>
        </li>

      </ul>

      <div class="d-flex gap-2">
        <button class="btn btn-warning navfont">GET FREE COACHING</button>
        <button class="btn btn-warning navfont">DONATE</button>
      </div>

    </div>
  </div>
</nav>
